<%- include('../partials/header') %>
<form action="/products/<%= product._id %>?_method=put" method="post">
    <label for="name">product name</label>
    <input type="text" name="name" id="name" value="<%= product.name %>" placeholder="input your product name">
    <br>
    <br>
    <label for="price">product price</label>
    <input type="number" name="price" id="price" value="<%= product.price %>" placeholder="input the price of your product">
    <br>
    <br>
    <label for="category">select product category</label>
    <select name="category" id="category">
        <% for( category of categories ) { %>
            <option value="<%= category %>" <%= product.category ===  category ? 'selected' : '' %>><%= category %></option>
        <% } %>
    </select>
    <br>
    <br>
    <button>UPDATE</button>
</form>
<br>
<button><a href="/products">back</a></button>
<%- include('../partials/footer') %>