<%- include('../partials/header') %>
<h2><%= product.name %></h2>
<h4>Price: Rp.<%= product.price %></h4>
<h4>Category: <%= product.category %></h4>
<button><a href="/products">back</a></button>
<%- include('../partials/footer') %>